/ TODO: control display by more css
.controls
  %h5.waiting_notice
    - if !@enough_players
      Need more players
      %br
      (#{Game::MIN_PLAYERS} to #{@game.max_players})
    - else 
      - name = @waiting_on_you ? "You" : display_name(@game.config[:names][@waiting_on_index])
      = name
      %br
      - if !@game_started
        can Start
      - else
        - action = @waiting_on =~ /first/i ? "Lead" : @waiting_on
        to #{action}

  - if @can_start_game && !@dealt
    = link_to 'Start', "#", class: "start_game btn btn-success", data: {url: start_game_path} 
  - if @waiting_on_you && @game.config[:waiting_on_reason] == "Clear" 
    = link_to 'Clear', "#", class: "clear_hand btn btn-success", data: {url: deal_game_path}
  
  - show_bid_form = @waiting_on_you && @dealt && !@done_bidding
  / TODO: waiting_on_you && waiting_on==bid
  - if show_bid_form
    .bid_form.input-group
      - max = @cards.size
      = number_field_tag("bid", nil, min: 0, max: max, class: "form-control")
      = link_to("Bid", "#", class: "btn btn-success", data: {disable: true, disable_with: "Bidding..."})
  
  / TODO: do we need notice? - rip it out
  - notice_message = @notice || notice 
  - if false && notice_message
    %h6.action_notice
      Notice: 
      %br
      = notice_message
