%table.game_options.text-center{style: "margin: 0 auto;"}
  %thead
    %tr
      %th{style: "padding-right: 10px;"}
        %h4{style: 'margin-bottom: 15px;'} Special Options
      %th{style: "padding-left: 10px;"}
        %h4{style: 'margin-bottom: 15px;'} Selected
  %tbody
    - t("options", locale: :en).each do |k, c|
      %tr
        %td{style: "padding-right: 10px;"}
          %h5{style: "margin-bottom: 15px;"}= c[:label]
        %td{style: "padding-left: 10px;"}
          - v = @game.persisted? ? @game.config[k] : t("options.#{k}.default") 
          - opts = c[:select]
          - if form
            - if opts.present?
              = select_tag k, options_for_select(opts, selected: v)
            - else # just total_rounds
              = number_field_tag k, v, style: "width: 50px;", max: 10, min: 2
          - else
            %h5{style: "margin-bottom: 15px;"}
              %i
                - v = opts.find{|o| o.last == v}.first if opts.present?
                = v
                - if k == :hints
                  = link_to "Toggle", toggle_hints_game_path
