- show = @names[index].present?
- you ||= false
- classes = ["player-#{index}"]
- classes << :you if you
- classes << :waiting_for if show && @indexes[index] == @waiting_on_index && @enough_players
- classes << :led_trump if @game.last_to_lead_with_trump?(@indexes[index]) 
.player_card{class: classes}
  .trump_shame
    = image_pack_tag 'led-trump.png'
  
  %h3.name
    - if show
      #{display_name(@names[index])}
      - if @indexes[index] == @game.config[:dealer_index]
        = image_tag 'cards-favicon.png', size: "25x25", class: :dealer_icon, style: "border: 1px white solid; background-color: white;"
      - if config[:first_to_play] != 'highest' && @game_started && @indexes[index] == @game.next_player_index(@game.config[:dealer_index]) && !@done_bidding
        %i.fa.fa-play-circle.first_to_play_icon{style: "font-size: 22px;"}
    - else
      Player not present
  
  - if show 
    %h6.score
      #{@total_scores[index]} 
      %span.not-extra-small
        points
      %span.extra-small
        pts
      (#{@places[index]}#{ActiveSupport::Inflector.ordinal(@places[index])})
  
    - bid = @round_scores[index]
    %h6.bid_hint{style: "color: #{bid[0]}"}
      .not-extra-small
        Taken #{bid[1]} / #{bid[2]} Bid
      .extra-small
        Bid #{bid[1]} / #{bid[2]}

    - if show && index == 0 
      %h6.table_bids{style: "white-space: nowrap;"}
        Table Bids: 
        - tb = @game.total_bids
        - nc = @game.num_cards_per_player
        - if tb < nc
          Under
        - elsif tb == nc
          Even
        - else
          Over


    - if false && params[:debug]
      %h6.debug_info
        Seat#: #{index}
        Profile#: #{@indexes[index]}
