- if @is_playing && !(Rails.env.production? && params[:webrtc].blank?)
  - # TODO: morph token
  - current_player = @indexes[0]
  - morph = morph_game_url(id: @game.id, index: current_player)
  .webrtc{data: {index: current_player, morph: morph}}
    
    .vidchat_prompts
      = link_to "#", id: :start_video, class: "btn btn-sm btn-success" do
        %i.fa.fa-video-camera
        Vidchat
      %br
      = link_to "#", id: "no-chat", class: "btn btn-sm btn-success", style: "margin-top: 10px;" do
        %i.fa.fa-times-circle-o
        No chat

    .vidchat_engaged.d-none
      /- opts = [["Default", ""], ["Unified Plan", "unified-plan"], ["Plan B", "plan-b"]]
      /= select_tag "sdpSemantics", options_for_select(opts, selected: "")
      = link_to "#", id: :end_video, class: "btn btn-sm btn-success" do
        %i.fa.fa-phone
        End
      %br
      .videos
        %video{playsInline: true, autoplay: true, muted: true, id: "video-#{current_player}"} 
      
    = javascript_include_tag "https://webrtc.github.io/adapter/adapter-latest.js"


  #vidchat_modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title Vidchat Error
          = link_to "#", data: { dismiss: "modal"} do
            %h4 X
        .modal-body
          %p.message
