- if @is_playing && !(Rails.env.production? && params[:webrtc].blank?)
  - current_player = @indexes[0]
  .webrtc{data: {index: current_player}}
    .vidchat_prompts
      = link_to "#", id: :start_video, class: "btn btn-sm btn-success" do
        %i.fa.fa-video-camera
        Vidchat
      %br
      = link_to "#", id: "no-chat", class: "btn btn-sm btn-success", style: "margin-top: 10px;" do
        %i.fa.fa-times-circle-o
        No chat

    .vidchat_engaged.d-none
      /- opts = [["Default", ""], ["Unified Plan", "unified-plan"], ["Plan B", "plan-b"]]
      /= select_tag "sdpSemantics", options_for_select(opts, selected: "")
      = link_to "#", id: :end_video, class: "btn btn-sm btn-success" do
        %i.fa.fa-phone
        End
      %br
      .videos
        %video{playsInline: true, autoplay: true, muted: true, id: "video-#{current_player}"} 
      
    = javascript_include_tag "https://webrtc.github.io/adapter/adapter-latest.js"


