%header.intro
  .intro-body
    .container
      %h1.brand-heading= t(:name)
      %p.intro-text 
        %b
          A card game.
          %br
          %i Crush your friends anytime, anywhere.
      .row
        .col-md-6.text-center.actions
          .row
            .col-sm-6.text-center
              = link_to new_game_path, class: "btn btn-lg btn-success" do
                %i.fa.fa-gamepad
                Create game
            .col-sm-6.text-center
              = link_to "#games", class: "btn btn-success btn-lg page-scroll" do
                %i.fa.fa-users
                Join game
          .row
            .col-xs-12.text-center
              = link_to "#rules", class: "btn btn-lg page-scroll btn-success" do
                %i.fa.fa-book
                Learn rules

%section#games.container.content-section.text-center
  %h1 Games in Progress
  %table#game_list.table
    %thead
      %tr
        %th Id
        %th Name
        %th Created
        %th Players
    %tbody
      - Game.order(created_at: :desc).limit(5).each do |game|
        %tr
          %td= link_to(game.id, game, class: "btn btn-lg btn-success")
          %td= game.name
          %td= "#{distance_of_time_in_words(Time.now, game.created_at)} ago"
          %td= game.config[:players].size
  %br
  = link_to new_game_path, class: "btn btn-lg btn-success" do
    %i.fa.fa-gamepad
    Create new game
  %br

%section#history.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h1 History
      %p
        #{t(:name)} is the oldest game played from around the world since ancient times. 
        Deriving from the latin word "cruschen", the name comes from the Renaissance, when great leaders and thinkers were known to have been fond players. 
        They say the great Leonardo Da Vinci earned his first apprenticeship after defeating his master in just this game.
      %p
        Versions of this game are also known as "Tisch" and "Oh Hell" (as popularized by Bill Clinton).

/ How to Play Section
%section#rules.container.content-section.text-center
  = render "rules"
