- in_game = @game.present? && @game.persisted?
%nav.navbar.navbar-custom.fixed-top{role: :navigation}
  .container
    .navbar-header
      - classes = %w(navbar-brand)
      - classes << "page-scroll" unless @game.present?
      - target = @game.present? ? root_path : "#page-top"
      = link_to target, class: classes do
        %h3
          %span.fa.fa-play-circle
          #{t('name').upcase}
          - if in_game 
            = "##{@game.id}"

      - if in_game
        %ul.nav.navbar-nav.navbar-right
          %li{style: "display: inline"}
            = link_to "#", data: { toggle: "modal", target: "#rules-modal" } do
              %h4
                %i.fa.fa-book
                Rules
          - if @is_playing 
            %li{style: "display: inline"}
              = link_to "#", id: :score_history, data: {url: scores_game_path(@game)} do
                %h4
                  %i.fa.fa-pencil
                  Score
