!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1", name: :viewport}
    %meta{content: "The Wolfpack", name: "author"}

    %meta{name: "og:site_name", content: "#{t(:name)}"}

    - title = "#{t(:name)} - A Card Game"
    - description = "A bidding card game for friends and frustration (AKA: Oh Hell, Crush)"
    - full_url = root_url
    - robots = "INDEX, FOLLOW"
    - if @game.present? # update title/description
      - if @game.persisted? # game page
        - title = "#{t(:name)} - Game ##{@game.id}"
        - description = "Join game and play with #{@game.config[:names][0]} now"
        - full_url = game_url(id: @game.id)
        - robots = "NOINDEX, NOFOLLOW"
      - else # new game
        - title = "#{t(:name)} - Create new game"
        - description = "Create a new #{t(:name)} game and choose your own rules"
        - full_url = new_game_url

    - unless Rails.env.production?
      - robots = "NOINDEX, NOFOLLOW"

    %meta{name: :robots, content: robots}
    %title= title
    %meta{name: :description, content: description}
    %meta{property: "og:title", content: title}
    %meta{property: "og:description", content: description}
    %meta{property: "og:image", content: asset_pack_url('media/images/card_table.jpg')}
    %meta{property: "og:image:alt", content: "A card game table"}
    %meta{property: "og:type", content: :game}
    %meta{property: "og:url", content: full_url}
    %link{href: full_url, rel: :canonical}

    = render 'application/favicon'

    - # TODO: Custom Fonts - Using these?
    %link{href: "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_pack_tag 'application', media: :all
    = javascript_pack_tag 'application' 

    = render 'layouts/analytics' if Rails.env.production?


  %body#page-top{data: {spy: :scroll, target: ".fixed-top"}}
    = render 'layouts/header'
                
    .body_content{style: "padding-top: 75px"}
      = yield

    = render 'layouts/footer'
