!!!
%html
  %head
    %title #{t(:name)} - The Card Game
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1", name: :viewport}
    %meta{content: "#{t(:name)}, the card game", name: :description}
    %meta{content: "Ben, Greg, & Mike", name: "author"}

    %meta{name: "og:site_name", content: "#{t(:name)}"}
    %meta{name: "og:title", content: "#{t(:name)}"}
    %meta{name: "og:url", content: "#{request.domain}"}
    %meta{name: "og:type", content: "website"}
    %meta{name: "og:description", content: "#{t(:name)}, the card game"}

    //= stylesheet_link_tag 'bootstrap_and_overrides', media: 'all' # TODO: update with rails 6 bootstrap setup - remove less
    //= stylesheet_link_tag 'application', media: 'all'
    = render 'application/favicon'

    / Custom Fonts
    %link{href: "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags

    = render 'layouts/analytics'
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application' 


  %body#page-top{data: {spy: :scroll, target: ".navbar-fixed-top"}}
    = render 'layouts/header'
                
    .body_content
      = yield

    = render 'layouts/footer'
